header {
    border-bottom: 1px solid black;

    .logo {
        font-weight: bold;
        color: #78e875;
    }

    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: .8em;
                    color: black;

                    &:hover {
                        color: #78e875;
                    }
                }
            }
        }
    }
}