form {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  


}
#message {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
}

#dumb2 {
    margin-left: 5%;
    // margin-right: 5%;
}

#dumb1 {
    // margin-left: 5%;
    margin-right: 15%;
}

#form {
    border: 2px solid black;
}

#button {
    text-align: center;
}